.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(40, 118, 170);
  
}

.containerForm {
  width: 100%;
}
.search-button {
  height: 36px;
  color: white;
  background-color: rgb(34, 124, 177);
  
  margin-left: 20px;
  border-radius: 50%;
}
.container-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.recipe-stuff {
  
  display: flex;
  justify-content: space-between;
  
}
.left {
  align-items: left;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 50px;
  flex-grow:1;
  
}
.Preview {
  display: flex;
  align-content: left;
  justify-items: right;
  margin:10px

  

}

.Preview .imagen {
  margin:3px
}

.right {
  flex-grow:2;
}